@charset "utf-8";
/* CSS Document */
*{margin: 0;
 padding: 0}
nav {
	display: flex;
	justify-content: space-between;
	padding: 25px 50px;
	color:rgba(218,197,176,1.00);
}
nav ul li {
	display: inline;
	list-style-type: none;
	padding-left: 50px;
	font-weight: 600;
	font-size: 18px;
}
.chuto:hover{
	color: hsla(84,31%,16%,1.00);
}
.trang1 {
	background-image: url(AdobeStock_134588427.jpg);
	height: 100vh;
	background-size:cover;
	height: 700px;
	position: relative;
}
.aboutme {
	text-align: left;
	position: absolute;
	right: 18%;
	margin-top: 20px;
	background-color:hsla(29,36%,78%,0.78);
	padding: 40px 50px;
	border-radius: 20px;
	color:rgba(43,53,28,1.00);
	box-shadow: 0px 0px 13px 0px #A48C74;
	
}
.chuxanh {
	color:rgba(43,53,28,1.00);
}
.aboutme input {
	padding: 10px 15px;
	margin-top: 20px;
	background-color:rgba(98,107,62,1.00);
	border-radius: 20px;
	color:rgba(219,198,179,1.00);
	border: none;
}
.aboutme input:hover{
	background-color: hsla(84,31%,16%,1.00);
}
.trang2 {
	background-color:hsla(26,36%,78%,1.00);
	height: 610px;
	padding: 0px 110px;
}
.trang2 h1{
	text-align: center;
	padding: 10px 0px 20px;
	text-transform: uppercase; 
	font-weight: 700; 
	font-size: 40px;
}
.anhlacda {
	width: 50%;
}
.anhlacda img {
	width: 90%;
}
.anhtrang2 {
	width: 40%;
}
.bocngoai {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	margin-right: 25px;
}
.photography {
	padding: 40px 30px;
	margin: 20px 0px 50px ;
	border-radius: 20px;
	box-shadow: 0px 0px 13px 0px #A48C74;
	position: relative;
}
.phanmo {
	position: absolute;
	top: 0;
	left: 0;
	background-color:hsla(72,27%,33%,0.73);
	height: 100%;
	width: 100%;
	border-radius: 20px;
	display: none;
}
.photography:hover .phanmo{
	display: block;	
}
.artwork {
	padding: 40px 30px;
	margin: 20px 0px 20px ;
	border-radius: 20px;
	box-shadow: 0px 0px 13px 0px #A48C74;
	position: relative;
}
.phanmo1 {
	position: absolute;
	top: 0;
	left: 0;
	background-color:hsla(72,27%,33%,0.73);
	height: 100%;
	width: 100%;
	border-radius: 20px;
	display: none;
}
.artwork:hover .phanmo1{
	display: block;	
}
.anhtrang2 img {
	height: 50px;
	position: absolute;
	right: 20px;
	bottom: 30px;
}
.demo {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing:11px;
}
.phantren  {
	background-image:url(Untitled-1-01.jpg);
	background-size: cover;
	height: 250px;
	position: relative;
}
.phantren h1 {
	position: absolute;
	bottom: 10px;
	left: 85px;
	text-transform: uppercase;
	font-weight: 700; 
	font-size: 40px;
}
.phanduoi {
	
	background-color: hsla(24,41%,35%,1.00);
	height: 310px;
	line-height: 30px;
	color: hsla(26,36%,78%,1.00);
}
.ke {
	display: flex;
}
.phanduoi ul {
	list-style-type:none;
	margin: 40px 60px 0px 90px;
}
.trang3 {
	position: relative;
}
.otrong {
	text-align: center;
	width: 40%;
	height: 400px;
	box-shadow:  0px 0px 13px 0px #A48C74;
	position: absolute;
	top: 30px;
	right: 85px;
	background-color:hsla(29,36%,78%,0.78);
	padding-top: 30px;
	padding-left: 70px;
	border-radius:20px;
}
.otrong input {
	display: block;
	width: 100%;
	padding: 20px 10px;
	border:none;
	border-bottom: hsla(84,31%,16%,1.00) solid 2px;
	margin: 5px 0px;
	background-color: transparent;

}
.tinhan {
	width: 100%;
	padding: 20px 10px;
	border: none; 
	background-color: transparent;
	border-bottom: hsla(84,31%,16%,1.00) solid 2px;
	margin-bottom: 40px;
}
.dienthongtin {
	width: 80%;
}
.dienthongtin a {
	background-color: hsla(72,27%,33%,1.00);
	padding: 13px 25px;
	border-radius: 30px;
	color: hsla(26,36%,78%,1.00);
}
.gui:hover{
	background-color: hsla(84,31%,16%,1.00);
	transform: scale(2);
}
.dienthongtin input::placeholder{
	color:hsla(84,31%,16%,1.00);
	padding-left: 20px;
}
.otrong textarea{
	color:hsla(84,31%,16%,1.00); 
	padding-left: 20px;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-2-26 13:21:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

